:host {

  app-digital-asset-upload {
    display: block;
    margin-bottom: 16px;
  }
  [main] {
    display: grid;
    grid-template-columns: auto 1fr;
    gap:20px;
    .g-actions {
      grid-column: 1/3;
    }

    .profile__firstname-lastname-fields {
      display: grid;
      column-gap:20px;
    }
  }

  mat-form-field {
    display: block;
    width: 100%;
  }
}
