<ng-container *ngIf="vm$ | async as vm">

  <app-bento-box *ngIf="vm.state == ProfileState.View">

    <div main>

      <app-digital-asset-upload icon="photo_camera" [formControl]="vm.avatarFormControl"></app-digital-asset-upload>

      <h1 class="g-title">{{ vm.profile.firstname }}  {{ vm.profile.lastname }}</h1>

      <div class="g-actions">
        <button mat-stroked-button (click)="handleEditClick(vm)">
          Edit
        </button>
      </div>

    </div>

    <div class="g-field" cell>
      <label class="g-field__label">Email</label>
      <span class="g-field__property">{{ vm.profile.email }}</span>
    </div>

    <div class="g-field" cell>
      <label class="g-field__label">Github Profile</label>
      <span class="g-field__property">{{ vm.profile.githubProfile }}</span>
    </div>

    <div class="g-field" cell>
      <label class="g-field__label">LinkedIn Profile</label>
      <span class="g-field__property">{{ vm.profile.linkedInProfile }}</span>
    </div>

    <div class="g-field" cell>
      <label class="g-field__label">Phone</label>
      <span class="g-field__property">{{ vm.profile.phone }}</span>
    </div>

  </app-bento-box>

  <div *ngIf="vm.state == ProfileState.Edit || vm.state == ProfileState.Create" style="text-align: center;">

    <app-digital-asset-upload icon="photo_camera" [formControl]="vm.avatarFormControl"></app-digital-asset-upload>

    <h1 *ngIf="vm.state == ProfileState.Edit" class="g-title">Profile Details</h1>

    <h1 *ngIf="vm.state == ProfileState.Create" class="g-title">Create Profile</h1>

    <form class="profile__firstname-lastname-fields" [formGroup]="vm.form">
      <mat-form-field appearance="outline">
        <mat-label>Firstname</mat-label>
        <input matInput placeholder='Firstname' formControlName="firstname">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Lastname</mat-label>
        <input matInput placeholder='Lastname' formControlName="lastname">
      </mat-form-field>

      <mat-form-field appearance="outline" cell>
        <mat-label>Email</mat-label>
        <input matInput placeholder='Email' formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline" cell>
        <mat-label>Github Profile</mat-label>
        <input matInput placeholder='Github Profile' formControlName="githubProfile">
      </mat-form-field>

      <mat-form-field appearance="outline" cell>
        <mat-label>LinkedIn Profile</mat-label>
        <input matInput placeholder='LinkedIn Profile' formControlName="linkedInProfile">
      </mat-form-field>

    </form>


    <div class="g-actions">
      <button mat-stroked-button (click)="handleCancelClick()">
        Cancel
      </button>

      <button mat-raised-button (click)="handleSaveClick(vm)">
        Save
      </button>
    </div>
  </div>

  <app-experience [profileId]="vm.profile?.profileId" [positions]="vm.profile?.experience"></app-experience>

  <app-notes [profileId]="vm.profile?.profileId"></app-notes>

</ng-container>
