<ng-container *ngIf="vm$ | async as vm">

  <app-bento-box *ngIf="vm.state == ProfileState.View">

    <div main class="profile__details">
      <app-digital-asset-upload icon="photo_camera" [formControl]="avatarFormControl"></app-digital-asset-upload>

      <h1>{{ vm.profile.firstname }}  {{ vm.profile.lastname }}</h1>

      <div class="g-actions">
        <button mat-stroked-button (click)="handleEditClick(vm)">
          Edit
        </button>
      </div>


    </div>

    <p cell>Email: {{ vm.profile.email }}</p>

    <p cell>Github Profile: {{ vm.profile.githubProfile }}</p>

  </app-bento-box>

  <div *ngIf="vm.state == ProfileState.Edit" style="text-align: center;">

    <app-digital-asset-upload icon="photo_camera" [formControl]="avatarFormControl" *ngIf="vm.state != ProfileState.Create"></app-digital-asset-upload>

    <h1>Profile Details</h1>

    <div class="profile__firstname-lastname-fields">
      <mat-form-field appearance="outline">
        <mat-label>Firstname</mat-label>
        <input matInput placeholder='Firstname'>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Lastname</mat-label>
        <input matInput placeholder='Lastname'>
      </mat-form-field>

      <mat-form-field appearance="outline" cell>
        <mat-label>Email</mat-label>
        <input matInput placeholder='Email'>
      </mat-form-field>

      <mat-form-field appearance="outline" cell>
        <mat-label>Github Profile</mat-label>
        <input matInput placeholder='Github Profile'>
      </mat-form-field>

    </div>


    <div class="g-actions">
      <button mat-raised-button (click)="handleSaveClick(vm)">
        Cancel
      </button>

      <button mat-raised-button color="primary" (click)="handleSaveClick(vm)">
        Save
      </button>
    </div>
  </div>

</ng-container>
