<ng-container *ngIf="vm$ | async as vm">

  <div style="text-align: center;">

    <form class="profile__firstname-lastname-fields" [formGroup]="vm.form">

      <app-digital-asset-upload icon="photo_camera" formControlName="logoDigitalAssetId"></app-digital-asset-upload>

      <h1 class="g-title" *ngIf="vm.state == OrganizationState.Create">Create Organization</h1>

      <h1 class="g-title" *ngIf="vm.state == OrganizationState.Edit">Edit Organization</h1>

      <mat-form-field appearance="outline" class="g-form-field">
        <mat-label>Name</mat-label>
        <input matInput placeholder='Name' formControlName="name">
      </mat-form-field>
    </form>


    <div class="g-actions">
      <button mat-stroked-button>
        Cancel
      </button>

      <button mat-raised-button (click)="handleSaveClick(vm)">
        Save
      </button>
    </div>
  </div>

  <div class="organization__organizations-section">
    <h2>Organizations</h2>

    <div class="organization__organizations-section-container">

      <div *ngFor="let organization of vm.organizations" (click)="handleEditClick(organization)" class="organization__card">
        <app-logo [digitalAssetId]="organization.logoDigitalAssetId"></app-logo>
        <h3>{{ organization.name }}</h3>
      </div>
    </div>
  </div>
</ng-container>
