:host {

  .organization__organizations-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px;
  }



  .organization__card {
    cursor: pointer;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #E5E5E5;

    .organization__logo {
      display: block;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}
