<ng-container *ngIf="vm$ | async as vm">

  <h1>
    Create Position
  </h1>
  <button mat-icon-button [mat-dialog-close]>
    <mat-icon>
      close
    </mat-icon>
  </button>

  <form [formGroup]="vm.form">
    <mat-form-field appearance="outline" class="g-form-field">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" cdkFocusInitial>
    </mat-form-field>
  </form>

  <div class="g-actions">
    <button mat-stroked-button [mat-dialog-close]>
      Cancel
    </button>
    <button mat-raised-button (click)="handleSaveClick(vm)">
      Save
    </button>
  </div>
</ng-container>
