.g-table {
  width: 100%;
  border: 1px solid #E5E5E5;

  tbody, thead {
    .mat-row.cdk-row, .mat-header-row.cdk-header-row  {
      display: grid;
      grid-template-columns: 1fr 1fr 100px;
    }

    th, td {
      display: grid;
      place-items: center start;
    }
  }
}
